{% import "../../../../setup/html/_macros.html.twig" as _macro %}

{% set componentId = "subWiki" %}

{% set urlDetail = '#urlDetail' %}
{% set data = {
    itemPerPage: 6,
    list: [
        {
            thumbnail: 'assets/images/wiki/1.svg',
            link: '#link',
            type: 'ssr',
            nation: 'kim',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Hoa Vàng',
            isHot: true,
            publishDate: 82624164
        }, 
        {
            thumbnail: 'assets/images/wiki/2.svg',
            link: '#link',
            type: 'sr',
            nation: 'kim',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Nhện Nâu',
            isHot: false,
            publishDate: 52357532
        }, 
        {
            thumbnail: 'assets/images/wiki/3.svg',
            link: '#link',
            type: 'r',
            nation: 'moc',
            isNewTab: false,
            linkExternal: '#external',
            title: 'Nhện Đỏ',
            isHot: false,
            publishDate: 43962914
        }, 
        {
            thumbnail: 'assets/images/wiki/4.svg',
            link: '#link',
            type: 'n',
            nation: 'moc',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Sâu Xanh',
            isHot: true,
            publishDate: 38943271 
        },
        {
            thumbnail: 'assets/images/wiki/5.svg',
            link: '#link',
            type: 'ssr',
            nation: 'moc',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Cún Nâu',
            isHot: true,
            publishDate: 82624164
        },
        {
            thumbnail: 'assets/images/wiki/6.svg',
            link: '#link',
            type: 'ssr',
            nation: 'thuy',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Mây Trắng',
            isHot: false,
            publishDate: 52357532
        },
        {
            thumbnail: 'assets/images/wiki/7.svg',
            link: '#link',
            type: 'ssr',
            nation: 'hoa',
            isNewTab: false,
            linkExternal: '#external',
            title: 'Mèo Hồng',
            isHot: false,
            publishDate: 43962914
        },
        {
            thumbnail: 'assets/images/wiki/8.svg',
            link: '#link',
            type: 'ssr',
            nation: 'phapcong',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Hổ Trắng',
            isHot: true,
            publishDate: 38943271
        },
        {
            thumbnail: 'assets/images/wiki/10.svg',
            link: '#link',
            type: 'sr',
            nation: 'tho',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Hoa Đỏ',
            isHot: true,
            publishDate: 82624164
        },
        {
            thumbnail: 'assets/images/wiki/11.svg',
            link: '#link',
            type: 'n',
            nation: 'thuy',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Cún Xanh',
            isHot: false,
            publishDate: 52357532
        },
        {
            thumbnail: 'assets/images/wiki/1.svg',
            link: '#link',
            type: 'n',
            nation: 'thuy',
            isNewTab: false,
            linkExternal: '#external',
            title: 'Mèo Trắng',
            isHot: false,
            publishDate: 43962914
        },
        {
            thumbnail: 'assets/images/wiki/2.svg',
            link: '#link',
            type: 'ssr',
            nation: 'tho',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Cún Đen',
            isHot: true,
            publishDate: 38943271
        },
        {
            thumbnail: 'assets/images/wiki/1.svg',
            link: '#link',
            type: 'sr',
            nation: 'kim',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Hoa Xanh',
            isHot: true,
            publishDate: 82624164
        }, 
        {
            thumbnail: 'assets/images/wiki/2.svg',
            link: '#link',
            type: 'sr',
            nation: 'kim',
            isNewTab: false,
            linkExternal: '#link',
            title: 'Nhện Trắng',
            isHot: false,
            publishDate: 52357532
        }, 
        {
            thumbnail: 'assets/images/wiki/3.svg',
            link: '#link',
            type: 'r',
            nation: 'moc',
            isNewTab: false,
            linkExternal: '#external',
            title: 'Mèo Hồng',
            isHot: false,
            publishDate: 43962914
        },
    ]
} %}

<div id="{{ componentId }}" class="wiki wiki--{{ componentId }} wiki_hero">

    <div class="wiki_searchname">
        <div class="search">
            <form class="search__form">
                <input class="wiki_search_draft" type="text" name="q" placeholder="Tìm kiếm anh hùng">
            </form>
        </div>
    </div>

    <input type="hidden" name="wiki_search" id="wiki_search" class="wiki_search" />
    
    <div class="wiki_tab">
        <div class="wiki_tab__group">
            <div class="wiki_tab__title">
                Phẩm chất
            </div>
            <ul class="tab wiki_type">
                <li class="">
                    <span class="tab__item tab__item--all active" data-wiki-type="">Tất cả</span>
                </li>
                <li>
                    <span class="tab__item tab__item--ssr" data-wiki-type="typessr">SSR</span>
                </li>
                <li>
                    <span class="tab__item tab__item--sr" data-wiki-type="typesr">SR</span>
                </li>
                <li>
                    <span class="tab__item tab__item--r" data-wiki-type="typer">R</span>
                </li>
                <li>
                    <span class="tab__item tab__item--n" data-wiki-type="typen">N</span>
                </li>
            </ul>
        </div>
        <div class="wiki_tab__group">
            <div class="wiki_tab__title">
               Vai trò
            </div>
            <ul class="tab wiki_nation">
                <li class="">
                    <span  class="tab__item tab__item--all active" data-wiki-nation="">Tất cả</span>
                </li>
                <li class="">
                    <span class="tab__item tab__item--kim" data-wiki-nation="kim">Kim</span>
                </li>
                <li>
                    <span class="tab__item tab__item--moc" data-wiki-nation="moc">Mộc</span>
                </li>
                <li>
                    <span class="tab__item tab__item--thuy" data-wiki-nation="thuy">Thủy</span>
                </li> 
                <li>
                    <span class="tab__item tab__item--hoa" data-wiki-nation="hoa">Hỏa</span>
                </li>
                <li>
                    <span class="tab__item tab__item--tho" data-wiki-nation="tho">Thổ</span>
                </li>
            </ul>
        </div>


        
    </div>

    <div class="wiki_list">
        {% if data.list|length > 0 %}
            <ul class="wiki_ul">
                {% for item in data.list %}

                    {% set img =  item.thumbnail != null ? item.thumbnail : 'http://placehold.it/600x350' %}
                    {% set urlDetail =  site ~ '/tin-tuc' %}
                    {% set link   = item.linkExternal != null ?  item.linkExternal : urlDetail ~ '/' ~  item.catCode ~ '/' ~ item.linkSeo ~ '.html' %}
                    {% set target = item.isNewTab ?  'target=_blank' : '' %}
                    {% set robotFlow = item.linkExternal != null ?  'rel=nofollow' : '' %}
                    {% set isHot = item.isHot ?  'isHot' : '' %}

                    <li>
                        <div class="wiki_item {{isHot}}"
                            data-wiki-type="type{{item.type}}"  
                            data-wiki-name="{{item.title}}"
                            data-wiki-nation="{{item.nation}}"
                            data-wiki-query="type{{item.type}} {{item.nation}} {{item.title}}">
                            <a href="{{ img }}" {{target}} {{robotFlow}} class="wiki_item__thumbnail" 
                            title="{{ item.title }}">
                                <img class="lazyload" data-src="{{ img }}" alt="{{ item.title }}">
                            </a>
                            <div class="wiki_item__name">
                                {{ item.title }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% include "../function/empty-data.html.twig" %}
        {% endif %}
    </div>
    
    <ul class="pagination wiki_pagination">
        <li>
            <a href="#" class="page-link active">1</a>
        </li>
        <li>
            <a href="#" class="page-link ">2</a>
        </li>
        <li>
            <a href="#" class="page-link ">3</a>
        </li>
        <li>
            <a href="#" class="page-link ">4</a>
        </li>
        <li>
            <a href="#" class="page-link ">5</a>
        </li>
        <li>
            <a href="#" class="page-link ">6</a>
        </li>
    </ul>

</div>