{% import "../../../setup/html/_macros.html.twig" as _macro %}

{% set componentId = "blockHomeRank" %}

<div id="{{ componentId }}Tab" class="rank rank--{{ componentId }}">
    <ul class="rank_tab">
        <li class="">
            <a href="#" class="rank_tab__item active">
                LỰC CHIẾN BANG HỘI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                LỰC CHIẾN CÁ NHÂN
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                LỰC CHIẾN MÔN PHÁI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                UY DANH BANG HỘI
            </a>
        </li>
        <li class="">
            <a href="#" class="rank_tab__item">
                UY DANH CÁ NHÂN
            </a>
        </li>     
    </ul>
</div>

<div id="{{ componentId }}" class="rank rank--{{ componentId }}">
    <div class="rank_filter">
        <select name="server" data-loadrank-handle="server">
            <option value="0">Chọn Server</option>
            <option value="0">Thế giới</option>
            <option value="20001"> S1-Thái Sơn</option>
            <option value="20002"> S2-Hoa Sơn</option>
            <option value="20003"> S3-Vu Sơn</option>
        </select>
        <select name="classid" data-loadrank-handle="classid">
            <option value="0">Chọn Môn Phái</option>
            <option value="1">Thiên Vương</option>
            <option value="2">Nga My</option>
            <option value="3">Đào Hoa</option>
            <option value="4">Tiêu Dao</option>
            <option value="5"> Võ Đang</option>
        </select>
    </div>
    <div class="rank_result">
        <ul class="rank_result__head">
            <li>Hạng</li>
            <li>Nhân Vật</li>
            <li>Môn Phái</li>
            <li>Cấp</li>
            <li>Binh Giáp</li>
            {# <li>Máy Chủ</li> #}
        </ul>
        <ul class="rank_result__body">
            {% for item in 1..7 %}
                <li>
                    <span>{{item}}</span>
                    <span>BabyCutePro999</span>
                    <span>Thiếu Lâm</span>
                    <span>69</span>
                    <span>99.999.999</span>
                    {# <span>S1 - Thiên Sơn</span> #}
                </li>
            {% endfor %}
        </ul>
        <div class="rank_result__foot">
            <ul class="pagination">
                <li class="prev disabled"><a href="#">‹</a></li>
                <li class="page group-page-1 active"><a href="#">1</a></li>
                <li class="page group-page-1"><a href="#">2</a></li>
                <li class="page group-page-1"><a href="#">3</a></li>
                <li class="page group-page-1"><a href="#">4</a></li>
                <li class="page group-page-1"><a href="#">5</a></li>
                <li class="page group-page-1"><a href="#">6</a></li>
                <li class="page group-page-1"><a href="#">7</a></li>
                <li class="page group-page-1"><a href="#">8</a></li>
                <li class="page group-page-1"><a href="#">9</a></li>
                <li class="page group-page-1"><a href="#">10</a></li>
                <li class="next"><a href="#" rel="1">›</a></li>
            </ul>
        </div>
    </div>
</div>

{# SCSS DEFAULT:

    .rank {
        display: block;
        position: absolute;
        width: 1773px; 
        height: 804px;
        bottom: 60px;
        left: calc(50% - 1773px / 2);

        &_filter {
            display: flex;
            justify-content: center;
            margin: 80px 0 20px;
            select {
                width: 240px;
                height: 40px;
                margin: 0 10px;
                padding: 0 30px 0 30px;
                border: 1px solid #e3e5e5;
                color: #424242;
                background: #FFF url(../assets/images/content/select.png);
                background-position: calc(100% - 15px) calc(50% + 2px);
                background-repeat: no-repeat;
            }
        }
        &_tab {
            width: calc(260px * 5 + 10px * 4);
            position: absolute;
            top: 153px;
            left: 406px;
            &__item {
                @include image("sprite-text", $rank-tab);
                font-size: 24px;
                color: #424242;
                font-weight: var(--fontweight-bold);
                @include superCenter();

                &:not(.active):hover {
                    @include superCenter();
                    color: #222;
                }

                &.active {
                    @include image("sprite-text", $rank-tab-hov);
                    @include superCenter();
                    color: #FFF;
                }
            }
        }
        &_note {
            position: absolute;
            font-weight: var(--fontweight-medium);
            color: #ffffff;
            font-size: 20px;
            width: 270px;
            height: 330px;
            padding: 40px 40px;
            left: 93px;
            bottom: 10px;
            p:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &_bg {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &_result {
            width: 1379px;
            height: 560px;
            position: absolute;
            top: 235px;
            left: 384px;
            padding: 20px 75px;
            
            &__head {
                width: 100%;
                display: flex;
                li {
                    font-weight: bold;
                    font-size: 22px;
                    color: #424242;
                    height: 70px;
                }
            }
            &__body {
                margin: 0 0 15px;
                li {
                    display: flex;
                    transition: background-color .2s $ease-in-out;
                    &:hover {
                        background-color: rgba(#e0c38d, .2);
                    }
                    span {
                        font-weight: bold;
                        font-size: 20px;
                        color: #424242;
                        height: 55px;
                    }
                }
            }
            &__head > li, &__body > li > span {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                &:nth-child(1) {
                    width: 5%;
                }
                &:nth-child(2) {
                    width: 30%;
                }
                &:nth-child(3) {
                    width: 15%;
                }
                &:nth-child(4) {
                    width: 10%;
                }
                &:nth-child(5) {
                    width: 20%;
                }
                &:nth-child(6) {
                    width: 20%;
                }
            }
            &__foot {
                .pagination {
                    display: flex;
                    justify-content: center;
                    li {
                        margin: 0 15px;
                        .page {
                            width: 40px;
                            height: 40px;
                            font-weight: var(--fontweight-bold);
                            font-size: 22px;
                            @include superCenter();
                            background: #d7d7d7;
                            color: #9e9e9e;
                            transition: all .2s $ease-in-out;
                            &:not(.active):hover {
                                background: rgba(#ba9853, .2);
                                color: #ba9853;
                            }
                            &.active {
                                background: #ba9853;
                                color: #f6f6f6;
                            }
                        }
                    }
                }
            }
        }
    }

#}


{# TWIG DEFAULT: 



#}